---
export interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<a
  href={href}
  class={`inline-flex items-center justify-center px-6 py-3 text-base font-medium transition-colors duration-300 rounded-lg bg-[#8e735b] hover:bg-[#4F4035] active:bg-[#3E3129] text-[#FFFFFF] hover:text-[#F8F6F4] ${className}`}
>
  <slot />
</a>