---
export interface Props{
    title:string,
    navItems:{
        itemText:string,
        itemLink:string
    }[]
}

const {title, navItems} = Astro.props
---

<nav class="space-y-6">
    <ul class="flex space-x-2 text-[#f4f4f4]">
        {navItems.map((navItem, index)=>(
            <li>
                <a href={navItem.itemLink} class="transition hover:!text-[#9C8260] !text-[#f4f4f4] !text-sm">
                    {navItem.itemText}
                </a>
                {index < navItems.length - 1 && <span class="text-[#a3a3a3] mx-2">|</span>}
            </li>
        ))
        }
    </ul>
</nav>