---
import Paragraph from "../shared/Paragraph.astro";

export interface Props {
  title: string;
  features: string[];
  icon: string;
}

const { title, features, icon } = Astro.props;
---

<div class="p-6 rounded-xl bg-box-bg border border-box-border">
  <div class="flex items-center gap-4 mb-4">
    <div class="text-primary" set:html={icon} />
    <h3 class="text-xl font-semibold text-heading-1">{title}</h3>
  </div>
  <ul class="space-y-2">
    {
      features.map((feature) => (
        <li class="flex items-center gap-2 text-heading-3">
          <span class="text-primary">&checkmark;</span>
          {feature}
        </li>
      ))
    }
  </ul>
</div> 