---
import Brand from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { brands } from "../../utils/data.ts";

type BrandProps = {
  title: string;
  features: string[];
  icon: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  id="brands"
  class="relative py-16 md:py-20"
>
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title className="">Our Brands</Title>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        brands.map((brand: BrandProps) => {
          return (
            <Brand
              title={brand.title}
              features={brand.features}
              icon={brand.icon}
            />
          );
        })
      }
    </div>
  </Container>
</section>
