---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Brands from "../components/sections/Brands.astro";
import About from "../components/sections/About.astro";
import Philosophy from "../components/sections/Philosophy.astro";
import Transition from "../components/sections/Transition.astro";
import CTA from "../components/sections/CTA.astro";

const isUnderConstruction = import.meta.env.PUBLIC_UNDER_CONSTRUCTION === 'true';
if (isUnderConstruction) {
  return Astro.redirect('/under-construction');
}
---

<Layout title="Kuaru Studios – Rooted in Quality. Elegance in Simplicity.">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <Transition prev="#4c5c68" next="#FAF9F5" />
    <About className="py-10 md:py-16" />
    <Transition prev="#FAF9F5" next="#DDD7CB" />
    <Brands className="pt-10 md:pt-16" />
    <Transition prev="#DDD7CB" next="#FAF9F5" />
    <Philosophy className="py-10 md:py-16" />
    <Transition prev="#FAF9F5" next="#4c5c68" />
    <CTA />
  </main>
</Layout>
